<h2> Welcome <%=current_user.username %>! </h2>
<h3> <%= @user.username %>'s Listings</h3>
<p> ____________________ </p>
<% @items.each do |item| %>
  <% if item.user_id == @user.id %>
    <h3>Title: <%= item.title %></h3>
    <h3>Price: $<%= item.price %></h3>
    <h3>Description: <%= item.description %></h3>
    <p> ____________________ </p>
  <% end %>
<% end %>
<% if current_user.id != @user.id%>
  <a href="/messages/new">Message User</a><br><br>
<% end %>
<a href="/users">List of Users</a><br><br>
<a href="/items">List of Items</a><br><br>
<a href="/items/new">Create a New Item</a><br><br>
<a href="/logout">Log Out</a>
