<h2> Welcome <%=current_user.username %>! </h2>
<h3> List of Users </h2>
<p> ____________________ </p>
<% @users.each do |user| %>
  <h3>Username: <%= user.username %></h3>
  <h3>Seller's Location: <%= user.location %></h3>
  <h3>Seller ID: <%= user.id %> </h3>
  <a href="/users/<%=user.id%>">View User's Listings</a>
  <p> ____________________ </p>
<% end %>
 <br>
<br>

<a href="/items">List of Items</a><br><br>
<a href="/items/new">Create a New Item</a><br><br>
<a href="/logout">Log Out</a>
