<h3 class="heading-for-many"> Edit Profile: </h3>

<div class="error-message">
  <% if flash.has?(:error) %>
    <%= flash[:error] %>
  <% end %>
</div>

<form method="post" action="/users/<%=@user.id%>/edit">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for ="location"> Location: </label>
  <input type="text" name="location" id="location" value="<%=@user.location%>"> 
  <label for ="location"> Email: </label>
  <input type="text" name="email" id="email" value="<%=@user.email%>"> 
  <label for ="password_digest"> Password: </label>
  <input type="password" name="password_digest" id="password_digest" type="password" value=""> 
  <input type="submit" value="Update User"> <br></br> <br></br> <br></br>
</form>

<form method="post" action="/users/<%=@user.id%>/delete">
  <input type="submit" value="Delete Account">
</form>
