<div class="heading-for-many">
  <% if current_user.id == @user.id %>
    <h3> Your Location: <%= @user.location %> </h3>
    <h3> Your Listings </h3>
    <br>
    <a href="/users/<%=@user.id%>/edit"> Edit Profile </a>
  <% else %>
    <h3> This Seller is Located In: <%= @user.location %> </h3>
    <h3> <%= @user.username %>'s Listings </h3>
  <% end %>
</div>

<div class="grid-items-container">
  <% if @user.items != [] %>
    <% @items.each do |item| %>
      <% if item.user_id == @user.id %>
        <div class="individual-item">
          <p> <strong> Title: </strong> <%= item.title.capitalize %> </p>
          <p> <strong> Price: </strong> $<%= item.price %> </p>
          <p> <strong> Description: </strong> <%= item.description.capitalize %> </p>
          <a href="/items/<%=item.id%>">View Item </a>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <% if @user.id == current_user.id %>
      <b> You have not posted any products yet! </b>
    <% else %>
      <b> This Seller has not listed any products yet! </b>
    <% end %>
  <% end %>
</div>
