<h3 class="heading-for-one"> Viewing <%= @item.title.capitalize %> </h3>

<div class="success-message">
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
</div>

<ul class="individual-item">
  <h4> <strong> Title: </strong> <%= @item.title.capitalize %> </h4>
  <h4> <strong> Price: $ </strong> <%= @item.price %> </h4>
  <h4> <strong> Description: </strong> <%= @item.description.capitalize %>  </h4>
  <h4> <strong> Seller: </strong> <%= @item.user.username %>  </h4>
  <h4> <strong> Seller's Location: </strong> <%= @item.user.location %> </h4>
  <a href="/users/<%=@item.user.id%>"> View User </a> <br></br>

  <% if current_user.id == @item.user_id%>
    <form action="/items/<%=@item.id%>/edit">
      <input type="submit" value="Edit Item">
    </form>
  <% end %>

  <br></br>

  <% if current_user.id == @item.user_id%>
    <form method="post" action="/items/<%=@item.id%>/delete">
      <input type="submit" value="Delete Item">
    </form>
  <% end %>
</ul>
