<h2> Welcome <%=current_user.username %>! </h2>
<p> ____________________ </p>
  <% @items.each do |item| %>
    <h3>Title: <%= item.title.capitalize %></h3>
    <h3>Price: $<%= item.price %></h3>
    <h3>Description: <%= item.description.capitalize %></h3>
    <h3>Seller: <%= item.user.username %></h3>
    <h3>Seller's Location: <%= item.user.location %></h3>
    <a href="/items/<%=item.id%>">View Item | </a>
    <a href="/users/<%=item.user.id%>">View User </a>
    <p> ____________________ </p>
  <% end %>
 <br>
<a href="/items/new">Create a New Item | </a>
<a href="/users">List of Users | </a>
<a href="/messages">View Messages</a><br><br>
<a href="/logout">Log Out</a>
