<h2> Welcome <%=current_user.username %>! </h2>
<h2>Item ID: <%= @item.id %> </h2>
<p> ____________________ </p>
<h3>Title: <%= @item.title %> </h3>
<h3>Price: <%= @item.price %> </h3>
<h3>Description: <%= @item.description %> </h3>
<h3>Seller: <%= @item.user.username %> </h3>
<p> ____________________ </p>
  
<% if current_user.id == @item.user_id%>
  <form method="post" action="/items/<%=@item.id%>/delete">
    <input type="submit" value="Delete Item">
  </form>
<% end %>
<% if current_user.id == @item.user_id%>
  <a href="/items/<%=@item.id%>/edit">Edit Item</a><br><br>
<% end %>
<a href="/items">List of Items</a><br><br>
<a href="/items/new">Create a New Item</a><br><br>
<a href="/logout">Log Out</a>